html {
  max-width: 400px;
  margin: 0 auto;
}

.container label{
  font-size: 17px;
  color: rgb(58, 67, 75);
}

.input , select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 15px;
color: coral
}

.button {
width: 100%;
background-color: #08acc9;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

.button :hover {
background-color: #28a2e9;
}

.container {
border-radius: 5px;
background-color: #edf7f5;
padding: 20px;
padding-top: 5px;
}
